<!doctype html>
<html>
	<head>
		<title>Nested List</title>
		
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0-rc.2/jquery.mobile-1.2.0-rc.2.min.css" />
		<script src="http://code.jquery.com/jquery-1.8.1.min.js"></script>
		<script src="http://code.jquery.com/mobile/1.2.0-rc.2/jquery.mobile-1.2.0-rc.2.min.js"></script>
		
		<script>
			$(':jqmData(url^=page1)').live('pagebeforecreate', function(event) {
				$(this)
					.filter(':jqmData(url*=ui-page)')
					.find(':jqmData(role=header)')
					.prepend('<a href="#" data-rel="back" data-icon="back">Back</a>');
			});
		</script>
	</head>
	<body>
		<div id="page1" data-role="page">
			<div data-role="content">
				<ul data-role="listview">
					<li><div>Apple iPhone</div>
						<!-- Add nested unordered list here. -->
					</li>
					<li><div>Google Nexus</div>
						<!-- Add nested unordered list here. -->
					</li>
					<li><div>Samsung</div>
						<!-- Add nested unordered list here. -->
					</li>
				</ul>
			</div>
		</div>
	</body>
</html>