<!doctype html>
<html>
	<head>
		<title>Search Filter Bar</title>
		
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0-rc.2/jquery.mobile-1.2.0-rc.2.min.css" />
		<script src="http://code.jquery.com/jquery-1.8.1.min.js"></script>
		<script src="http://code.jquery.com/mobile/1.2.0-rc.2/jquery.mobile-1.2.0-rc.2.min.js"></script>
	</head>
	<body>
		<div id="page1" data-role="page">
			<div data-role="content">
				<ul data-role="listview"> <!-- modify attributes here -->
					<li><a href="index.html">Acura</a></li>
					<li><a href="index.html">Audi</a></li>
					<li><a href="index.html">BMW</a></li>
					<li><a href="index.html">Cadillac</a></li>
					<li><a href="index.html">Chrysler</a></li>
					<li><a href="index.html">Dodge</a></li>
					<li><a href="index.html">Ferrari</a></li>
					<li><a href="index.html">Ford</a></li>
					<li><a href="index.html">GMC</a></li>
					<li><a href="index.html">Honda</a></li>
					<li><a href="index.html">Hyundai</a></li>
					<li><a href="index.html">Infiniti</a></li>
					<li><a href="index.html">Jeep</a></li>
					<li><a href="index.html">Kia</a></li>
					<li><a href="index.html">Lexus</a></li>
					<li><a href="index.html">Mini</a></li>
					<li><a href="index.html">Nissan</a></li>
					<li><a href="index.html">Porsche</a></li>
					<li><a href="index.html">Subaru</a></li>
					<li><a href="index.html">Toyota</a></li>
					<li><a href="index.html">Volkswagon</a></li>
					<li><a href="index.html">Volvo</a></li>
				</ul>
			</div>
		</div>
	</body>
</html>