<!doctype html>
<html>
<head>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css" />
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"></script>

    <script type="application/javascript">
        $(document).bind('ready', function ()
        {
            // TODO: Add event listeners for SWIPE RIGHT & LEFT

        });


        // Navigation Step
        //todo: add .closest to selector screen in slides
        var swipeRight = function(event)
        {
            // TODO: SELECT name of PREV page, using .closest() of event.target

            // TODO: DO a reverse transition to the PREV page
        };
        var swipeLeft = function(event)
        {
            // TODO: SELECT name of NEXT page, using .closest() of event.target

            // TODO: DO a transition to the NEXT page
        };
    </script>
</head>
<body>


<!--
// NAVIGATION STEP
-->
<div id="locations" data-role="page"
     data-prev="city-boston" data-next="city-newyork">
    <div data-role="header" data-position="fixed" data-fullscreen="false">
        <h1>Locations</h1>
    </div>

    <div data-role="content">
        <ul data-role="listview" data-inset="true">
            <li><a href="#city-newyork">New York</a></li>
            <li><a href="#city-grandrapids">Grand Rapids</a></li>

            <!-- TODO: add San Francisco -->
            <!-- TODO: add Chicago-->
            <!-- TODO: add Miami-->
            <!-- TODO: add Boston-->

        </ul>
    </div>
</div>


<div id="city-newyork" data-role="page"
     data-api-id="5128581"
     data-prev="locations" data-next="city-grandrapids">
    <div data-role="content">
        New York
    </div>
</div>

<div id="city-grandrapids" data-role="page"
     data-prev="city-newyork" data-next="city-sanfrancisco">
    <div data-role="content">
        Grand Rapids
    </div>
</div>

<!-- TODO: add San Francisco -->
<!-- TODO: add Chicago-->
<!-- TODO: add Miami-->
<!-- TODO: add Boston-->


</body>
</html>