<html>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0-rc.2/jquery.mobile-1.2.0-rc.2.min.css" />
    <script src="http://code.jquery.com/jquery-1.8.1.min.js"></script>

    <style>

        /* Example Styles */
        body {
            position: relative;
        }

        .paragraph-style {
            background-color: #CCCCCC;
            -webkit-border-radius: 4px;
            border-radius: 4px;
            padding: 10px 10px 8px 10px;
            margin: 20px 10px;
            font-family: "Avenir LT 65 Medium" , "Avenir-Medium", Helvetica, Arial, sans-serif;
            font-size: 18px;
            color: #333333;
        }

    </style>

    <body>

        <!--Example Paragraph-->
        <p id="myParagraphOne" class="paragraph-style">My colors have been set</p>
        <p id="myParagraphTwo" class="paragraph-style">Mouse me!</p>
        <!--End Example Paragraph-->

        <!--Paragraph style changes-->
        <script>

            //
            // TODO: Set styles on myParagraphOne
            //
            // 1. Set the font color to white ( #FFFFFF )
            // 2. Set the the background color to green ( #149B0E )
            //
            // Example: $( "#elementID").css( "style-name" , "property" );
            //

            //
            // TODO: Add a click event to change the styles of myParagraphTwo
            //
            // Incorporate what you learned from the above to switch styles when myParagraphTwo is clicked
            //

            var paragraphChanged = false;
            $( "#myParagraphTwo" ).on("click", function() {

                paragraphChanged = !paragraphChanged;

                if( paragraphChanged ) {
                    // Change text and background colors
                } else {
                    // Set text and background colors back
                }
            });


        </script>
        <!--End Paragraph style changes-->

    </body>

</html>