<!doctype html>
<html>
	<head>
		<title>Footer</title>
		
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0-rc.2/jquery.mobile-1.2.0-rc.2.min.css" />
		<script src="http://code.jquery.com/jquery-1.8.1.min.js"></script>
		<script src="http://code.jquery.com/mobile/1.2.0-rc.2/jquery.mobile-1.2.0-rc.2.min.js"></script>
	</head>
	<body>
		<div id="page1" data-role="page">
			<div data-role="header" data-position="fixed">
				<h1>Page Title</h1>
				<a href="#" data-icon="gear" class="ui-btn-right">Options</a>
			</div>
			
			<div data-role="content">
				<p>Page content goes here.</p>
			</div>
			
			<div data-role="footer" data-position="fixed">
				<a href="#" data-icon="check">Save</a>
				<a href="#" data-icon="delete">Cancel</a>
			</div>
		</div>
	</body>
</html>