<html>
<html>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0-rc.2/jquery.mobile-1.2.0-rc.2.min.css" />
    <script src="http://code.jquery.com/jquery-1.8.1.min.js"></script>

    <script type="application/javascript">

        $(document).ready(function(event){

            //TODO
            //1. add mouseover event listener
            //2. change the background-color with the .css(name, value) method

            //TODO
            //1. add mouseout event listener
            //2. change the background-color with the .css(name, value) method back to the default color.
        });
    </script>
</html>
<body>


<table id="peopleList">
    <thead>
    <tr>
        <td>Photo</td>
        <td>Name</td>
        <td>Company</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <img src="resource/image/people/angela.jpg" data-name="Angela">
        </td>
        <td>
            Angela
        </td>
        <td>
            Universal Mind
        </td>
    </tr>
    <tr>
        <td>
            <img src="resource/image/people/ben.jpg" data-name="Ben">
        </td>
        <td>
            Ben
        </td>
        <td>
            Universal Mind
        </td>
    </tr>
    <tr>
        <td>
            <img src="resource/image/people/brad.png" data-name="Brad">
        </td>
        <td>
            Brad
        </td>
        <td>
            Universal Mind
        </td>
    </tr>
    <tr>
        <td>
            <img src="resource/image/people/chris.jpg" data-name="Chris">
        </td>
        <td>
            Chris
        </td>
        <td>
            Universal Mind
        </td>
    </tr>
    <tr>
        <td>
            <img src="resource/image/people/christian.jpg" data-name="Christian">
        </td>
        <td>
            Christian
        </td>
        <td>
            Universal Mind
        </td>
    </tr>
    <tr>
        <td>
            <img src="resource/image/people/david.jpg" data-name="David">
        </td>
        <td>
            David
        </td>
        <td>
            Universal Mind
        </td>
    </tr>
    <tr>
        <td>
            <img src="resource/image/people/dustin.jpg" data-name="Dustin">
        </td>
        <td>
            Dustin
        </td>
        <td>
            Universal Mind
        </td>
    </tr>
    <tr>
        <td>
            <img src="resource/image/people/francisco.jpg" data-name="Francisco">
        </td>
        <td>
            Francisco
        </td>
        <td>
            Universal Mind
        </td>
    </tr>
    <tr>
        <td>
            <img src="resource/image/people/holly.JPG" data-name="Holly">
        </td>
        <td>
            Holly
        </td>
        <td>
            Universal Mind
        </td>
    </tr>
    <tr>
        <td>
            <img src="resource/image/people/joe.j.jpg" data-name="Joe J.">
        </td>
        <td>
            Joe J.
        </td>
        <td>
            Universal Mind
        </td>
    </tr>
    <tr>
        <td>
            <img src="resource/image/people/joe.jpg" data-name="Joe F.">
        </td>
        <td>
            Joe J.
        </td>
        <td>
            Universal Mind
        </td>
    </tr>
    <tr>
        <td>
            <img src="resource/image/people/kellen.jpg" data-name="Kellen">
        </td>
        <td>
            Kellen
        </td>
        <td>
            Universal Mind
        </td>
    </tr>
    <tr>
        <td>
            <img src="resource/image/people/kelly.jpg" data-name="Kelly">
        </td>
        <td>
            Kelly
        </td>
        <td>
            Universal Mind
        </td>
    </tr>
    <tr>
        <td>
            <img src="resource/image/people/mike.jpg" data-name="Mike">
        </td>
        <td>
            Mike
        </td>
        <td>
            Universal Mind
        </td>
    </tr>
    <tr>
        <td>
            <img src="resource/image/people/nate.jpg" data-name="Nate">
        </td>
        <td>
            Nate
        </td>
        <td>
            Universal Mind
        </td>
    </tr>
    <tr>
        <td>
            <img src="resource/image/people/poppy.jpg" data-name="Poppy">
        </td>
        <td>
            Poppy
        </td>
        <td>
            Universal Mind
        </td>
    </tr>
    <tr>
        <td>
            <img src="resource/image/people/richard.jpg" data-name="Richard">
        </td>
        <td>
            Richard
        </td>
        <td>
            Universal Mind
        </td>
    </tr>
    <tr>
        <td>
            <img src="resource/image/people/ryan.jpg" data-name="Ryan">
        </td>
        <td>
            Ryan
        </td>
        <td>
            Universal Mind
        </td>
    </tr>
    <tr>
        <td>
            <img src="resource/image/people/shane.jpg" data-name="Shane">
        </td>
        <td>
            Richard
        </td>
        <td>
            Universal Mind
        </td>
    </tr>
    <tr>
        <td>
            <img src="resource/image/people/shelley.JPG" data-name="Shelley">
        </td>
        <td>
            Shelley
        </td>
        <td>
            Universal Mind
        </td>
    </tr>
    <tr>
        <td>
            <img src="resource/image/people/tommy.jpg" data-name="Tommy">
        </td>
        <td>
            Tommy
        </td>
        <td>
            Universal Mind
        </td>
    </tr>
    <tr>
        <td>
            <img src="resource/image/people/zoe.jpg" data-name="Zoe">
        </td>
        <td>
            Zoe
        </td>
        <td>
            Universal Mind
        </td>
    </tr>
    </tbody>
</table>

<style type="text/css">
    table tr{
        background-color: #fffff;
        border-bottom: 1px solid;
    }
    table td{
        padding: 5px;
    }
    img{
        width: 50px;;
    }
    ul li{
        display: inline-block;
        float:left;
    }
</style>
</body>
</html>