<!doctype html>
<html>
	<head>
		<title>Basic Popup</title>
		
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0-rc.2/jquery.mobile-1.2.0-rc.2.min.css" />
		<script src="http://code.jquery.com/jquery-1.8.1.min.js"></script>
		<script src="http://code.jquery.com/mobile/1.2.0-rc.2/jquery.mobile-1.2.0-rc.2.min.js"></script>
	</head>
	<body>
		<div id="page1" data-role="page">
			<div data-role="header">
				<h1>Page Title</h1>
			</div>
			
			<div data-role="content">
				<!-- Link to popup here. -->
				
				<!-- Define popup here. -->
			</div>
		</div>
	</body>
</html>