<html>
<html>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0-rc.2/jquery.mobile-1.2.0-rc.2.min.css" />
<script src="http://code.jquery.com/jquery-1.8.1.min.js"></script>

<script type="application/javascript">
    function promote(event)
    {
        var student = $(event.currentTarget).detach();
        $("#teacherList").append(student);
    }

    $(document).ready(function(){
       $(".person").on("click", promote);
    });
</script>
</html>
<body>

<h1>Teachers</h1><hr/>
<ul id="teacherList"></ul>
<br clear="left"/>

<h1>Students</h1><hr/>
<ul id="peopleList">
    <li class="person"><img src="resource/image/people/angela.jpg" data-name="Angela"></li>
    <li class="person"><img src="resource/image/people/anna.jpg" data-name="Anna"></li>
    <li class="person"><img src="resource/image/people/ben.jpg" data-name="Ben"></li>
    <li class="person"><img src="resource/image/people/mike.jpg" data-name="Mike"></li>
    <li class="person"><img src="resource/image/people/kellen.jpg" data-name="Kellen"></li>
</ul>

<style type="text/css">
    ul li{
        display: inline-block;
        float:left;
    }
</style>
</body>
</html>